@import url('https://fonts.googleapis.com/css?family=Monoton|Roboto');
html {
  font-size: 18px;
} font-size: 25px;

html {font-size: 18px;}
p{
  font-family: Roboto;
  font-size: 20px;
}

h1, h2, h3{
  font-family: Monoton;
  text-align: justify;
}

h4,{
  font-family: Roboto;
  text-align: justify;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  text-align: middle;
  padding: 10px 100px ;
  font-family:"Roboto", sans-serif;
}

body {
  display: grid;
  font-family:"Roboto", sans-serif;

}
  </body>
</html>
